<div class='col-sm-3'>
  <%= link_to t('Crear copia'),
    cor1440_gen.copia_proyectofinanciero_path( @registro),
    class: 'btn btn-sm' %>
</div>
<div class='col-sm-3'>
  <%= link_to t('Actualizar de gitlab'),
    main_app.actualizar_de_gitlab_path( @registro.id ),
    class: 'btn btn-sm' %>
</div>
